.role-page-div {
  flex: 0 0 100%;
  background-color: #ccc; /* Set background color for the left sub-division */
  display: flex; /* Use Flexbox to vertically align children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  height: 100%;
}

.role-page-child-1 {
  margin: 20px;
  padding: 10px;
  width: 100%;
  height: 35%;
  background-color: white;
}

.role-page-child-2 {
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 75%;
  background-color: white;
}
