/* Login container */
.login-container {
  display: flex;
  height: 100vh;
}

/* Left side (logo) */
.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/splitscreen2.png') no-repeat center center;
  background-size: cover;
  background-color: #f2a7a7; /* Background color for the left side */
}
p{
  font-weight: bold ;
}

img {
  margin-bottom: 30px;
  margin-top: -30px;
}
/* Logo */
.left-side img {
  width: 150px; /* Adjust the size as needed */
}

/* Right side (login form) */
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* Background color for the right side */
}

/* Form elements */
.right-side h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

/* Adjust the margin-bottom for the login button and "Forgot password" link */
button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px; /* Add margin-top to create space between password field and login button */
}

/* Adjust the margin-top for the "Forgot password" link */
.forgot-password a {
  text-decoration: none;
  color: #007bff;
  margin-top: 20px; /* Add margin-top to create space between login button and "Forgot password" link */
}

.forgot-password a:hover {
  text-decoration: underline;
}
